extends layout

block content
  h1 Sign Up
  form(action='/signup', method='post')
    label(for='email') Username:
    input#username(type='text', name='username', required=true)

    label(for='password') Password:
    input#password(type='password', name='password', required=true)

    button(type='submit') Sign Up
